{% extends 'layout.html' %}
{% block content %}


<h1 class="display-4" style="margin-left: 250px; margin-bottom: 60px;">Welcome to my regex app</h1>

<div class="card" style="width: 18rem; margin: auto; background: black;">
    <div class="card-body">
        <h5 class="card-title">Email and Phone Number Detector</h5>
        <p class="card-text">Select all the elements from the page from which you want to extract email addresses and phone numbers with Ctrl + A, then press Ctrl + C and click the button below to see the matching objects.</p>
    </div>
    <div class="card-body">
        <a class="btn btn-primary" href="/result/" role="button">Get M.O</a>
    </div>
</div>


{%endblock%}